

body {
    /* background: black; */
    margin: 0;
}

#autoplay-warning {
    font-size: 1rem;
}

#whole-thing {
    width: 50%;
}

p {
    background-color: gray;
    display: inline-flex;
    width: 200px;
    height: 70px;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#clock-display {
    display: flex;
}

#clock-display > * {
    margin: 1rem;
}

#clock-display > .timer-btns {
    margin: 2rem;
}

.timer-btns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;
}

#inputs-and-preset-btns {
    margin: 1rem;
    display: flex;
}

.inputs {
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 5px;
}

.preset-btns-big-box {
    display: flex;
}

.preset-btns-sml-box {
    display: flex;
    column-gap: 5px;
}

